@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    --link: #00AAFF;
}

.light {
    --primary: #316941;
    --inversePrimary: #98d4a3;
    --background: #f6fbf3;
    --onSurface: #181d18;
    --onSurfaceAlt: #414941;
    --containerLow: #f1f5ed;

    --star: #ff9800;
}

.dark {
    --primary: #98d4a3;
    --inversePrimary: #316941;
    --background: #101510;
    --onSurface: #dfe4dc;
    --onSurfaceAlt: #c1c9bf;
    --containerLow: #181d18;

    --star: #e2e210;
}

html,
body {
    margin: 0;
    padding: 2em;

    font-family: "Inter";
    background-color: var(--background);
    color: var(--onSurface);
}

@media screen and (max-width: 970px) {
    html,
    body {
        padding: 0.5em;
    }
}

a {
    color: var(--primary);
    text-decoration: none;
}