---
import Card from '@wing/components/Card.astro';
import Footer from '@wing/components/Footer.astro';
import Friends from '@wing/components/Friends.astro';
import InfoSection from '@wing/components/InfoSection.astro';
import Label from '@wing/components/Label.astro';
import Projects from '@wing/components/Projects.astro';
import ToolListCard from '@wing/components/ToolListCard.astro';
import Layout from '@wing/layouts/Layout.astro';
---

<Layout title="Wing - Home" description="22 year old Android dev and an okay designer.">
	<Card id="about">
		<Label>About</Label>

		<h1>Hello, I'm Wing</h1>
		I am a 22 year old Android developer as well as an okay designer.
		
		<InfoSection />
	</Card>

	<ToolListCard />

	<div class="projects">
		<Label>Projects</Label>
		<Projects />
	</div>

	<Card id="friends">
		<Label>Friends</Label>
		<Friends />
	</Card>

	<Footer />
</Layout>

<style>
	.projects {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
</style>