---
import Card from "./Card.astro"
import Label from "./Label.astro"
import MusicPlaceholder from "@wing/assets/music.svg"
---

<Card>
    <Label>Listening To</Label>
    <div class="np">
        <div class="np-art-container">
            <img id="np-art"/>
            <MusicPlaceholder id="np-placeholder" mode="inline" />
        </div>

        <div class="np-info">
            <p id="np-song"></p>
            <p id="np-artist"></p>
        </div>
    </div>
</Card>

<style lang="scss">
    .np {
        display: flex;
        align-items: center;
        gap: 0.8em;
        margin-top: 1em;

        --art-size: 2.7em;
    }

    #np-art {
        width: var(--art-size);
        height: var(--art-size);
        border-radius: 20%;
    }

    .np-art-container {
        width: var(--art-size);
        height: var(--art-size);
        color: var(--primary);
        background-color: var(--secondaryContainer);
        border-radius: 20%;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);

        :global(svg) {
            width: var(--art-size);
            height: var(--art-size);
        }
    }

    .np-info {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        overflow: hidden;

        p {
            margin: 0;
        }
    }

    #np-song {
        font-size: 14px;
        font-weight: bold;
        color: var(--primary);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #np-artist {
        font-size: 11px;
        color: var(--onSurfaceAlt);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @media screen and (max-width: 970px) {
        .np {
            gap: 1em;
            --art-size: 3.5em;
        }

        #np-song {
            font-size: 18px;
        }

        #np-artist {
            font-size: 14px;
        }
	}
</style>