---
import Card from "./Card.astro";
import Label from "./Label.astro";
import SocialAccount from "./SocialAccount.astro";

import Bluesky from "@icons/social/bluesky.svg";
import Discord from "@icons/social/discord.svg";
import Email from "@icons/email.svg";
import GitHub from "@icons/social/github.svg";
import Mastodon from "@icons/social/mastodon.svg";
---

<Card class="socials">
    <Label class="label">Socials</Label>

    <div class="content">
        <SocialAccount url="https://github.com/wingio">
            <GitHub slot="icon" /> GitHub
        </SocialAccount>

        <SocialAccount url="https://bsky.app/profile/wingio.xyz">
            <Bluesky slot="icon" /> Bluesky
        </SocialAccount>

        <SocialAccount url="https://androiddev.social/@wing">
            <Mastodon slot="icon" /> Mastodon
        </SocialAccount>

        <SocialAccount url="https://discord.com/users/298295889720770563">
            <Discord slot="icon" /> Discord
        </SocialAccount>

        <SocialAccount url="mailto:Wing <wing@wingio.xyz>">
            <Email slot="icon" /> Email
        </SocialAccount>
    </div>
</Card>

<style lang="scss">
    @media screen and (max-width: 970px) {
        .content {
            display: flex;
            gap: 1.5em;
            justify-content: space-between;
        }
	}
</style>