---
import Card from "./Card.astro";
import InfoChip from "./InfoChip.astro";
import Label from "./Label.astro";

import JavaIcon from "@icons/languages/java.svg"
import JSIcon from "@icons/languages/javascript.svg"
import KotlinIcon from "@icons/languages/kotlin.svg"
import TSIcon from "@icons/languages/typescript.svg"

import AndroidStudioIcon from "@icons/software/android_studio.svg"
import VSCodeIcon from "@icons/software/vscode.svg"

import ComposeIcon from "@icons/libraries/compose.svg"
import NextIcon from "@icons/libraries/nextjs.svg"
---

<Card>
    <Label>IDEs</Label>
    <div class="tools">
        <InfoChip>
            <AndroidStudioIcon slot="icon"/> Android Studio
        </InfoChip>

        <InfoChip>
            <VSCodeIcon slot="icon"/> VSCode
        </InfoChip>
    </div>

    <br />

    <Label>Languages</Label>
    <div class="tools">
        <InfoChip>
            <KotlinIcon slot="icon"/> Kotlin
        </InfoChip>

        <InfoChip>
            <JavaIcon slot="icon"/> Java
        </InfoChip>

        <InfoChip>
            <TSIcon slot="icon"/> TypeScript
        </InfoChip>

        <InfoChip>
            <JSIcon slot="icon"/> JavaScript
        </InfoChip>
    </div>

    <br />

    <Label>Frameworks</Label>
    <div class="tools">
        <InfoChip>
            <ComposeIcon slot="icon"/> Compose
        </InfoChip>

        <InfoChip>
            <NextIcon slot="icon"/> NextJS
        </InfoChip>
    </div>
</Card>

<style>
    .tools {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8em;
		margin-top: 1em;
	}
</style>