---
import { SocialsMap } from "@wing/scripts/socials";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
    return Object.keys(SocialsMap).map( (key) => { return { params: { social: key } } });
}) satisfies GetStaticPaths;

// @ts-ignore
const account: SocialAccount = SocialsMap[Astro.params.social]
---

<!DOCTYPE html>
<html data-redir-url={account.baseUrl + account.username}>
    <head>
        <title>Redirecting...</title>
        <meta name="theme-color" content="#02E376"/>
		<link rel="icon" href="/favicon.png" />

		<meta name="og:type" content="profile" />
		<meta name="og:profile:username" content={account.username} />
		<meta name="og:profile:gender" content="male" />

		<meta name="og:title" content={`Wing - ${account.service}`} />
		<meta name="og:description" content={`Follow me on ${account.service}!`} />
		<meta name="og:url" content={account.baseUrl + account.username} />
		<meta name="og:image" content="/favicon.png" />
    </head>
    <body>
        Redirecting...
    </body>
</html>

<script>
    // @ts-ignore
    window.location = document.querySelector("html")?.dataset["redirUrl"] || "about:blank"
</script>