.icon {
    width: 1.8em;
    margin: 10px;
}

.bio {
    color: black;
    font-family: 'Arial';
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    padding: 0 0.8em;

    &:last-child {
        padding-bottom: 2em;
    }
}

.activity {
    display: flex;
    flex-wrap: nowrap;
    padding: .8em;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    
    .largeImage {
        width: 70px;
        height: 70px;
        border-radius: 1em;

        &.spin {
            animation: spin 10s infinite linear;
            border-radius: 50%;
        }
    }

    .smallImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: -20px;
        margin-top: 55px;
    }

    .title {
        font-family: "Arial";
        color: black;
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .details {
        font-family: "Arial";
        color: black;
        margin: 0;
        padding: 0;
        font-size: small;
    }

    .state {
        font-family: "Arial";
        color: black;
        margin: 0;
        padding: 0;
        font-size: small;
    }

    div {
        margin: 0 0 0 1em;
    }

}

@media only screen and (min-width: 600px) {
    .icon {
        width: 2.3em;
    }

    .bio {
        font-size: 20px;
        margin-bottom: inherit;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}