html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-image: url("https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-US");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@font-face {
  font-family: 'TS Block Bold';
  src: url('/fonts/TS Block Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype')
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont.otf');
}