.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.title {
    color: black;
    font-family: "Mont";
    font-size: 1.7rem;
    margin: 10px 0;
    font-weight: 2000;
}

.body {
    color: black;
    font-family: 'Inter';
    font-weight: 420;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    svg {
        height: 2.5rem;
        cursor: pointer;
    }
}

@media only screen and (min-width: 600px) {
    .logo {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 2rem;
    }

    .body {
        font-size: 20px;
    }
}