.socials {
    display: flex;
    padding: 1em;
    justify-content: center;
    width: 100%;
    
    svg {
        height: 35px;
        margin: 5px;
        z-index: 0;
        cursor: pointer;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .socials {
        svg {
            height: 40px;
        }
    }
}